.topbar{
    height: 4.5vw;
    background: yellow;
    color: black;
    font-size: 3vw;
    text-align: center;
    border: solid 0.3vw grey;
}

.historyPage{
    width: 100%;
    height: 100%;
    background: url(../Images/DesertConfederation.jpg) no-repeat;
    background-size: cover;
    position: fixed;
}

.leftModal{
    width: 100%;
    height: 100%;
    z-index: 200;
    position: absolute;
    left: -65%;
    top: 10%;
    background: grey;
    animation: shiftLeft 3s ;
    animation-fill-mode: forwards; 
}

@keyframes  shiftLeft{
0%, 100% {
    transform: translateX(-65%);
    transform: translateX(-65%);
}
        
100% {
    transform: translateX(65%);
    transform: translateX(65%);
    }
}

.leftModal p{
    width: 50vw;
    height: 30vw;
    position: absolute;
    right: 5%;
    top: 5%;
    background: wheat;
    font-size: 2vw;
    padding: 2%;
}

.rightModal{
    width: 100%;
    height: 100%;
    z-index: 200;
    position: absolute;
    right: -65%;
    top: 10%;
    background: grey;
    animation: shiftRight 3s ;
    animation-fill-mode: forwards; 
}

@keyframes  shiftRight {
    0%, 100% {
        transform: translateX(65%);
        transform: translateX(65%);
    }
    
    100% {
        transform: translateX(-65%);
        transform: translateX(-65%);
    }
}

.rightModal p{
    width: 50vw;
    height: 30vw;
    position: absolute;
    right: 5%;
    top: 5%;
    background: wheat;
    font-size: 2vw;
    padding: 2%;
}

.buttonOpenModal1{
    width: 20vw;
    height: 10vw;
    position: absolute;
    top: 20%;
    left: 0;
    background: grey;
    clip-path: polygon(0 30%, 60% 30%, 70% 15%, 100% 50%, 70% 85%, 60% 70%, 0 70%);
}

.buttonOpenModal2{
    width: 20vw;
    height: 10vw;
    position: absolute;
    top: 30%;
    right: 0;
    background: grey;
    clip-path: polygon(30% 15%, 40% 30%, 100% 30%, 100% 70%, 40% 70%, 30% 85%, 0 50%);
}

.buttonOpenModal3{
    width: 20vw;
    height: 10vw;
    position: absolute;
    top: 40%;
    left: 0;
    background: grey;
    clip-path: polygon(0 30%, 60% 30%, 70% 15%, 100% 50%, 70% 85%, 60% 70%, 0 70%);
}

.buttonOpenModal4{
    width: 20vw;
    height: 10vw;
    position: absolute;
    top: 50%;
    right: 0;
    background: grey;
    clip-path: polygon(30% 15%, 40% 30%, 100% 30%, 100% 70%, 40% 70%, 30% 85%, 0 50%);
}

.buttonOpenModal5{
    width: 20vw;
    height: 10vw;
    position: absolute;
    top: 60%;
    left: 0;
    background: grey;
    clip-path: polygon(0 30%, 60% 30%, 70% 15%, 100% 50%, 70% 85%, 60% 70%, 0 70%);
}

.titleChapterHistory{
    font-size: 2.5vw;
    font-family: "Rakkas";
    -webkit-text-stroke: 1px white;
}

.historyPage span:hover{
    -webkit-text-stroke: 1px black;
}

.overflowImageModalHistory{
    width: 31.5vw;
    height: 31.5vw;
    position: absolute;
    top: 5%;
    left: 5%;
    background: yellow;
    clip-path: polygon(50% 0%, 95% 5%, 100% 35%, 100% 70%, 95% 95%, 50% 100%, 5% 95%, 0% 70%, 0% 35%, 5% 5%);
}

.imageModalHistory{
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 2%;
    left: 2%;
    clip-path: polygon(50% 0%, 95% 5%, 100% 35%, 100% 70%, 95% 95%, 50% 100%, 5% 95%, 0% 70%, 0% 35%, 5% 5%);
}

.buttonCloseModal{
    width: 15vw;
    height: 3vw;
    font-size: 2vw;
    font-family: "Rakkas";
    position: absolute;
    bottom: 15%;
    right: 5%;
    background: red;
}

.buttonCloseModal:hover{
    opacity: 0.7;
}