.confederationPage{
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(../Images/DesertConfederation.jpg) no-repeat;
    background-size: cover;
}

.kingdomInmarPage{
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(../Images/InmarForest.jpg) no-repeat;
    background-size: cover;
}

.topbar{
    width: 100%;
    height: 4.5vw;
    font-size: 3vw;
    font-family: "El Messiri";
    font-weight: 700;
    display: flex; 
    align-items: center;
    justify-content: center; 
    border: solid 0.3vw grey;
    position: fixed;
 }

.overflowInfoPages{
    clip-path: polygon(0 0, 100% 0, 75% 70%, 0 70%);
    background: grey;
    width: 70vw;
    height: 42vw;
    position: absolute;
    top: 10%;
}

.infoPages{
    clip-path: polygon(0 0, 95% 0, 72% 65%, 0 65%);
    background: rgb(25, 25, 25);
    width: 70vw;
    height: 42vw;
    position: absolute;
    top: 0%;
}

.infoPages p{
    font-size: 2vw;
    font-family: "Pangolin";
    font-weight: 700;
    width: 50vw;
    margin-left: 1vw;
    position: absolute;
    top: 0%;
}

.imageConfederationPage{
    width: 17vw;
    height: 26vw;
    background: url(../Images/RegistanImg.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    right: 0%;
    top: 10%;
    border: solid 1vw grey;
    border-bottom-left-radius: 90%;
}

.imageKingdomInmarPage{
    width: 17vw;
    height: 26vw;
    background: url(../Images/HumanImg.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    right: 0%;
    top: 10%;
    border: solid 1vw grey;
    border-bottom-left-radius: 90%;
}

.buttonConfederationPage p{
    font-size: 3vw;
     font-family: "El Messiri";
    font-weight: 700;
    width: 18vw;
    margin: 0;
    padding: 0;
    text-align: center;
    color: goldenrod;
    -webkit-text-stroke: 2px rgb(25, 25, 25);
}

.buttonKingdomInmarPage p{
    font-size: 3vw;
     font-family: "El Messiri";
    font-weight: 700;
    width: 18vw;
    margin: 0;
    padding: 0;
    text-align: center;
    color: darkred;
    -webkit-text-stroke: 2px rgb(25, 25, 25);
}

.blockButtonHistory{
    position: absolute;
    left: 0;
    bottom: -7px;
}

.blockButtonStructure{
    position: absolute;
    left: 50%;
    bottom: -7px;
    transform: translateX(-50%);
}

.blockButtonQuest{
    position: absolute;
    right: 0;
    bottom: -7px;
}

@media (max-width: 480px) {

.confederationPage{
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(../Images/DesertConfederationBackgroundChoice.jpg) no-repeat;
    background-size: cover;
}

.kingdomInmarPage{
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(../Images/InmarForestBackroundChoice.jpg) no-repeat;
    background-size: cover;
}

.topbar{
    width: 100%;
    height: 13vw;
    font-size: 4vw;
    font-family: "El Messiri";
    font-weight: 700;
    text-align: center;
    border: solid 1vw grey;
    z-index: 20;
    position: absolute;
 }

.overflowInfoPages{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background: grey;
    width: 100vw;
    height: 95vw;
    position: absolute;
    top: 7%;
}

.infoPages{
    clip-path: polygon(0 0, 100% 0, 100% 97.5%, 0% 97.5%);
    background: rgb(25, 25, 25);
    width: 100vw;
    height: 95vw;
    position: absolute;
    top: 0%;
}

.infoPages p{
    font-size: 4vw;
    font-family: "Pangolin";
    font-weight: 700;
    width: 54%;
    margin-left: 2.5vw;
    position: absolute;
    top: 0%;
}

.imageConfederationPage{
    width: 40vw;
    height: 65vw;
    background: url(../Images/RegistanImg.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    right: 0%;
    top: 7%;
    border: solid 1vw grey;
    border-bottom-left-radius: 90%;
}

.imageKingdomInmarPage{
    width: 40vw;
    height: 65vw;
    background: url(../Images/HumanImg.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    right: 0%;
    top: 7%;
    border: solid 1vw grey;
    border-bottom-left-radius: 90%;
}

.buttonConfederationPage p{
    font-size: 3vw;
     font-family: "El Messiri";
    font-weight: 700;
    width: 18vw;
    margin: 0;
    padding: 0;
    text-align: center;
    color: goldenrod;
    -webkit-text-stroke: 0.1vw rgb(25, 25, 25);
}

.buttonKingdomInmarPage p{
    font-size: 3vw;
     font-family: "El Messiri";
    font-weight: 700;
    width: 18vw;
    margin: 0;
    padding: 0;
    text-align: center;
    color: darkred;
    -webkit-text-stroke: 0.1vw rgb(25, 25, 25);
}

.blockButtonHistory{
    position: absolute;
    left: -2%;
    top: 60%;
}

.blockButtonHistory p{
    position: absolute;
    top: 1%;
    right: 40%;
    font-size: 8vw;
}

.blockButtonStructure{
    position: absolute;
    right: -38%;
    top: 75%;
}

.blockButtonStructure p{
    position: absolute;
    top: 1%;
    right: 50%;
    font-size: 8vw;
}

.blockButtonQuest{
    position: absolute;
    left: -2%;
    top: 90%;
}

.blockButtonQuest p{
    position: absolute;
    top: 1%;
    right: 40%;
    font-size: 8vw;
}

}

@media (min-width: 481px) and (max-width: 768px) {

.confederationPage{
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(../Images/DesertConfederationBackgroundChoice.jpg) no-repeat;
    background-size: cover;
}

.kingdomInmarPage{
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(../Images/InmarForestBackroundChoice.jpg) no-repeat;
    background-size: cover;
}

.topbar{
    width: 100%;
    height: 10vw;
    font-size: 4vw;
    font-family: "El Messiri";
    font-weight: 700;
    text-align: center;
    border: solid 0.7vw grey;
    z-index: 20;
    position: absolute;
 }

.overflowInfoPages{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background: grey;
    width: 100vw;
    height: 80vw;
    position: absolute;
    top: 7%;
}

.infoPages{
    clip-path: polygon(0 0, 100% 0, 100% 97.5%, 0% 97.5%);
    background: rgb(25, 25, 25);
    width: 100vw;
    height: 79vw;
    position: absolute;
    top: 0%;
}

.infoPages p{
    font-size: 3.5vw;
    font-family: "Pangolin";
    font-weight: 700;
    width: 53%;
    margin-left: 2.5vw;
    position: absolute;
    top: 0%;
}

.imageConfederationPage{
    width: 40vw;
    height: 65vw;
    background: url(../Images/RegistanImg.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    right: 0%;
    top: 7%;
    border: solid 1.5vw grey;
    border-bottom-left-radius: 90%;
}

.imageKingdomInmarPage{
    width: 40vw;
    height: 65vw;
    background: url(../Images/HumanImg.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    right: 0%;
    top: 7%;
    border: solid 1.5vw grey;
    border-bottom-left-radius: 90%;
}

.buttonConfederationPage p{
    font-size: 3vw;
    font-family: "El Messiri";
    font-weight: 700;
    width: 18vw;
    margin: 0;
    padding: 0;
    text-align: center;
    color: goldenrod;
    -webkit-text-stroke: 0.1vw rgb(25, 25, 25);
}

.buttonKingdomInmarPage p{
    font-size: 3vw;
    font-family: "El Messiri";
    font-weight: 700;
    width: 18vw;
    margin: 0;
    padding: 0;
    text-align: center;
    color: darkred;
    -webkit-text-stroke: 0.1vw rgb(25, 25, 25);
}

.blockButtonHistory{
    position: absolute;
    left: -2%;
    top: 70%;
}

.blockButtonHistory p{
    position: absolute;
    top: 1%;
    right: 35%;
    font-size: 7vw;
}

.blockButtonStructure{
    position: absolute;
    right: -18%;
    top: 80%;
}

.blockButtonStructure p{
    position: absolute;
    top: 1%;
    right: 50%;
    font-size: 7vw;
}

.blockButtonQuest{
    position: absolute;
    left: -2%;
    top: 90%;
}

.blockButtonQuest p{
    position: absolute;
    top: 1%;
    right: 40%;
    font-size: 7vw;
}
    
}

@media (min-width: 769px) and (max-width: 1024px) {

.confederationPage{
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(../Images/DesertConfederationBackgroundChoice.jpg) no-repeat;
    background-size: cover;
}

.kingdomInmarPage{
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(../Images/InmarForestBackroundChoice.jpg) no-repeat;
    background-size: cover;
}

.topbar{
    width: 100%;
    height: 10vw;
    font-size: 4vw;
    font-family: "El Messiri";
    font-weight: 700;
    text-align: center;
    border: solid 0.5vw grey;
    z-index: 20;
    position: absolute;
 }

.overflowInfoPages{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background: grey;
    width: 100vw;
    height: 80vw;
    position: absolute;
    top: 7%;
}

.infoPages{
    clip-path: polygon(0 0, 100% 0, 100% 97.5%, 0% 97.5%);
    background: rgb(25, 25, 25);
    width: 100vw;
    height: 79vw;
    position: absolute;
    top: 0%;
}

.infoPages p{
    font-size: 3.5vw;
    font-family: "Pangolin";
    font-weight: 700;
    width: 53%;
    margin-left: 2.5vw;
    position: absolute;
    top: 0%;
}

.imageConfederationPage{
    width: 40vw;
    height: 65vw;
    background: url(../Images/RegistanImg.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    right: 0%;
    top: 7%;
    border: solid 1.5vw grey;
    border-bottom-left-radius: 90%;
}

.imageKingdomInmarPage{
    width: 40vw;
    height: 65vw;
    background: url(../Images/HumanImg.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    right: 0%;
    top: 7%;
    border: solid 1.5vw grey;
    border-bottom-left-radius: 90%;
}

.buttonConfederationPage p{
    font-size: 3vw;
    font-family: "El Messiri";
    font-weight: 700;
    width: 18vw;
    margin: 0;
    padding: 0;
    text-align: center;
    color: goldenrod;
    -webkit-text-stroke: 0.1vw rgb(25, 25, 25);
}

.buttonKingdomInmarPage p{
    font-size: 3vw;
    font-family: "El Messiri";
    font-weight: 700;
    width: 18vw;
    margin: 0;
    padding: 0;
    text-align: center;
    color: darkred;
    -webkit-text-stroke: 0.1vw rgb(25, 25, 25);
}

.blockButtonHistory{
    position: absolute;
    left: -2%;
    top: 70%;
}

.blockButtonHistory p{
    position: absolute;
    top: 1%;
    right: 35%;
    font-size: 7vw;
}

.blockButtonStructure{
    position: absolute;
    right: -18%;
    top: 80%;
}

.blockButtonStructure p{
    position: absolute;
    top: 1%;
    right: 50%;
    font-size: 7vw;
}

.blockButtonQuest{
    position: absolute;
    left: -2%;
    top: 90%;
}

.blockButtonQuest p{
    position: absolute;
    top: 1%;
    right: 40%;
    font-size: 7vw;
}

}