@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Pangolin&family=Rakkas&display=swap');

.startPage{
    width: 100%;
    height: 100%;
    position: fixed;
}

.overlayInfoBlockStartPage{
    width: 100%;
    height: 100%;
    background: red;
    z-index: 203;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(0 0, 100% 0, 73% 25%, 73% 40%, 100% 100%, 0 100%, 27% 40%, 27% 25%);
}

.infoBlockStartPage{
    width: 100%;
    height: 100%;
    background: rgb(25, 25, 25);
    z-index: 201;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(3% 0, 97% 0, 70% 25%, 70% 40%, 97% 100%, 3% 100%, 30% 40%, 30% 25%);
}

.infoBlockStartPage h1{
    text-align: center;
    color: red;
    font-family: "El Messiri";
    font-size: 5vw;
    font-weight: 700;
}

.infoBlockStartPage p{ 
    width: 40%;
    color: burlywood;
    font-family: "Pangolin";
    font-size: 2vw;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}

.backgroundChoiceInmar{
    background: url(../Images/InmarForestBackroundChoice.jpg) no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
}

.backgroundChoiceConfederation{
    background: url(../Images/DesertConfederationBackgroundChoice.jpg) no-repeat right;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
}

.choiceKingdomInmar{
    background: url(../Images/Human.webp) no-repeat;
    width: 25vw;
    height: 35vw;
    border: none;
    z-index: 199;
    background-size: contain;
    position: absolute;
    left: 9%;
    top: 20%;
}

.choiceKingdomInmar:hover{
    filter: drop-shadow(0vw 0vw 1vw darkred);
}

.choiceConfederationOfTribes{
    background: url(../Images/Registan.webp) no-repeat;
    width: 25vw;
    height: 35vw;
    border: none;
    z-index: 199;
    background-size: contain;
    position: absolute;
    right: 3%;
    top: 20%;
}

.choiceConfederationOfTribes:hover{
    filter: drop-shadow(0vw 0vw 1vw goldenrod);
}
