.miniGamePage{
    width: 100%;
    height: 100%;
    background: rgb(102, 80, 68);
    z-index: 200;
    position: absolute;
    top: 0%;
    font-family: "El Messiri";
    font-weight: 700;
}

.king{
    width: 10vw;
    height: 15vw;
    background: url(../../Images/King.webp) no-repeat center;
    background-size: contain;
    background-color: darkcyan;
    border-radius: 5%;
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    font-size: 3vw;
    color: black;
}

.king h1{
    width: 13vw;
    position: absolute;
    top: -30%;
    left: 5%;
    font-size: 1.5vw;
}

.kingdomCardOpponent{
    width: 10vw;
    height: 15vw;
    background: url(../../Images/Castle.webp) no-repeat center;
    background-size: contain;
    background-color: darkcyan;
    border-radius: 5%;
    position: absolute;
    top: 2%;
    left: 15%;
    font-size: 3vw;
    color: darkblue;
}

.kingdomCardOpponent h1{
    width: 17vw;
    position: absolute;
    top: 0%;
    left: 110%;
    font-size: 1.5vw;
}

.kingdomCard{
    width: 10vw;
    height: 15vw;
    background: url(../../Images/Castle.webp) no-repeat center;
    background-size: contain;
    background-color: darkcyan;
    border-radius: 5%;
    position: absolute;
    bottom: 2%;
    left: 15%;
    font-size: 3vw;
    color: red;
}

.kingdomCard h1{
    width: 17vw;
    position: absolute;
    bottom: 0%;
    left: 110%;
    font-size: 1.5vw;
}

.cardReset{
    width: 20vw;
    height: 4vw;
    background: darkcyan;
    position: absolute;
    top: 50% ;
    right: 22%;
    transform: translateY(-50%);
    font-family: "El Messiri";
    font-weight: 700;
    font-size: 2vw;
    cursor: pointer;
}

.cardReset:hover{
    opacity: 0.8;
}

.deckCard{
    width: 10vw;
    height: 15vw;
    border-radius: 5%;
    position: absolute;
    bottom: 15%;
    left: 33%;
    font-size: 1.5vw;
    font-family: "Rakkas";
    background:  url(../../Images/CardBack.webp) no-repeat center;
    background-color: darkcyan;
    background-size: contain;
}


.orderCardOpponent{
    width: 10vw;
    height: 15vw;
    border-radius: 5%;
    position: absolute;
    top: 15%;
    right: 0%;
    font-size: 1.5vw;
    font-family: "Rakkas";
    z-index: 199;
    background:  url(../../Images/Adept.webp) no-repeat center;
    background-color: wheat;
    background-size: contain;
    color: darkblue;
    animation: shiftOpponent 1s ;
    animation-fill-mode: forwards; 
}

.orderCard{
    width: 10vw;
    height: 15vw;
    border-radius: 5%;
    position: absolute;
    bottom: 15%;
    right: 0%;
    font-size: 1.5vw;
    font-family: "Rakkas";
    z-index: 199;
    background:  url(../../Images/Adept.webp) no-repeat center;
    background-color: wheat;
    background-size: contain;
    color: red;
    animation: shiftPlayer 1s ;
    animation-fill-mode: forwards; 
}

.monkCardOpponent{
    width: 10vw;
    height: 15vw;
    border-radius: 5%;
    position: absolute;
    top: 15%;
    right: 0%;
    font-size: 1.5vw;
    font-family: "Rakkas";
    z-index: 199;
    background:  url(../../Images/Monk.webp) no-repeat center;
    background-color: wheat;
    background-size: contain;
    color: darkblue;
    animation: shiftOpponent 1s ;
    animation-fill-mode: forwards; 
}

.monkCard{
    width: 10vw;
    height: 15vw;
    border-radius: 5%;
    position: absolute;
    bottom: 15%;
    right: 0%;
    font-size: 1.5vw;
    font-family: "Rakkas";
    z-index: 199;
    background:  url(../../Images/Monk.webp) no-repeat center;
    background-color: wheat;
    background-size: contain;
    color: red;
    animation: shiftPlayer 1s ;
    animation-fill-mode: forwards; 
}

.tradesmanCardOpponent{
    width: 10vw;
    height: 15vw;
    border-radius: 5%;
    position: absolute;
    top: 15%;
    right: 0%;
    font-size: 1.5vw;
    font-family: "Rakkas";
    z-index: 199;
    background:  url(../../Images/Tradesman.webp) no-repeat center;
    background-color: wheat;
    background-size: contain;
    color: darkblue;
    animation: shiftOpponent 1s ;
    animation-fill-mode: forwards; 
}

.tradesmanCard{
    width: 10vw;
    height: 15vw;
    border-radius: 5%;
    position: absolute;
    bottom: 15%;
    right: 0%;
    font-size: 1.5vw;
    font-family: "Rakkas";
    z-index: 199;
    background:  url(../../Images/Tradesman.webp) no-repeat center;
    background-color: wheat;
    background-size: contain;
    color: red;
    animation: shiftPlayer 1s ;
    animation-fill-mode: forwards; 
}

.fishermanCardOpponent{
    width: 10vw;
    height: 15vw;
    border-radius: 5%;
    position: absolute;
    top: 15%;
    right: 0%;
    font-size: 1.5vw;
    font-family: "Rakkas";
    z-index: 199;
    background:  url(../../Images/FisherMan.webp) no-repeat center;
    background-color: wheat;
    background-size: contain;
    color: darkblue;
    animation: shiftOpponent 1s ;
    animation-fill-mode: forwards; 
}

.fishermanCard{
    width: 10vw;
    height: 15vw;
    border-radius: 5%;
    position: absolute;
    bottom: 15%;
    right: 0%;
    font-size: 1.5vw;
    font-family: "Rakkas";
    z-index: 199;
    background:  url(../../Images/FisherMan.webp) no-repeat center;
    background-color: wheat;
    background-size: contain;
    color: red;
    animation: shiftPlayer 1s ;
    animation-fill-mode: forwards;
}

.squireCardOpponent{
    width: 10vw;
    height: 15vw;
    border-radius: 5%;
    position: absolute;
    top: 15%;
    right: 0%;
    font-size: 1.5vw;
    font-family: "Rakkas";
    z-index: 199;
    background:  url(../../Images/Squire.webp) no-repeat center;
    background-color: wheat;
    background-size: contain;
    color: darkblue;
    animation: shiftOpponent 1s ;
    animation-fill-mode: forwards;
}

.squireCard{
    width: 10vw;
    height: 15vw;
    border-radius: 5%;
    position: absolute;
    bottom: 15%;
    right: 0%;
    font-size: 1.5vw;
    font-family: "Rakkas";
    z-index: 199;
    background:  url(../../Images/Squire.webp) no-repeat center;
    background-color: wheat;
    background-size: contain;
    color: red;
    animation: shiftPlayer 1s ;
    animation-fill-mode: forwards; 
}

@keyframes  shiftOpponent {
    0%,50%, 100% {
        transform: translateX(-14%);
        transform: translateX(-14%);
    }
    
    50% {
        transform: translateY(-40%);
        transform: translateY(-40%);
    }
    
    100% {
        transform: translateX(-565%);
        transform: translateX(-565%);
        
    }
}

@keyframes  shiftPlayer {
    0%,50%, 100% {
        transform: translateX(-14%);
        transform: translateX(-14%);
    }
    
    50% {
        transform: translateY(40%);
        transform: translateY(40%);
    }
    
    100% {
        transform: translateX(-565%);
        transform: translateX(-565%);
        
    }
}

.vassalCardOpponent{
    width: 10vw;
    height: 15vw;
    border-radius: 5%;
    position: absolute;
    top: 2%;
    right: 15%;
    font-size: 1.5vw;
    font-family: "Rakkas";
    background:  url(../../Images/Vassal.webp) no-repeat center;
    background-color: wheat;
    background-size: contain;
    color: darkblue;
}

.vassalCard{
    width: 10vw;
    height: 15vw;
    border-radius: 5%;
    position: absolute;
    bottom: 2%;
    right: 15%;
    font-size: 1.5vw;
    font-family: "Rakkas";
    background:  url(../../Images/Vassal.webp) no-repeat center;
    background-color: wheat;
    background-size: contain;
    color: red;
    cursor: pointer;
}

.vassalCard:hover{
    filter: drop-shadow( 0.5vw 0.5vw 0.5vw black);
}

.assassinCardOpponent{
    width: 10vw;
    height: 15vw;
    background: url(../../Images/Assassin.webp) no-repeat center;
    background-color: wheat;
    background-size: contain;
    border-radius: 5%;
    position: absolute;
    top: 2%;
    right: 27%;  
    font-size: 1.5vw;
    font-family: "Rakkas";
    color: darkblue;
}

.assassinCard{
    width: 10vw;
    height: 15vw;
    background: url(../../Images/Assassin.webp) no-repeat center;
    background-color: wheat;
    background-size: contain;
    border-radius: 5%;
    position: absolute;
    bottom: 2%;
    right: 27%;  
    font-size: 1.5vw;
    font-family: "Rakkas";
    color: red;
    cursor: pointer;
}

.assassinCard:hover{
    filter: drop-shadow( 0.5vw 0.5vw 0.5vw black);
}

.bastardCardOpponent{
    width: 10vw;
    height: 15vw;
    background: url(../../Images/Bastard.webp) no-repeat center;
    background-size: contain;
    background-color: wheat;
    border-radius: 5%;
    position: absolute;
    top: 2%;
    right: 39%;  
    font-size: 1.5vw;
    font-family: "Rakkas";
    color: darkblue;
}

.bastardCard{
    width: 10vw;
    height: 15vw;
    background: url(../../Images/Bastard.webp) no-repeat center;
    background-size: contain;
    background-color: wheat;
    border-radius: 5%;
    position: absolute;
    bottom: 2%;
    right: 39%;  
    font-size: 1.5vw;
    font-family: "Rakkas";
    color: red;
    cursor: pointer;
}

.bastardCard:hover{
    filter: drop-shadow( 0.5vw 0.5vw 0.5vw black);
}

.top{
    position: absolute;
    top: -5%;
    left: 4%;
    margin: 0;
}

.bottom{
    position: absolute;
    bottom: -5%;
    right: 4%;
    margin: 0;
}

.deck{
    width: 10vw;
    height: 15vw;
    background: url(../../Images/CardBack.webp) no-repeat center;
    background-size: contain;
    background-color: darkcyan;
    border-radius: 5%;
    position: absolute;
    bottom: 0%;
    right: 2%;
    transform: translateY(-50%);
    font-family: "El Messiri";
    color: black;
    cursor: pointer;
}

.deck:hover{
    filter: drop-shadow( 0.5vw 0.5vw 0.5vw black);
}

.deckTitle{
    width: 10vw;
    position: absolute;
    bottom: 8%;
    right: -4.5%;
    transform: translateX(-50%);
    font-size: 1.5vw;
}

.deckOpponent{
    width: 10vw;
    height: 15vw;
    background: url(../../Images/CardBack.webp) no-repeat center;
    background-size: contain;
    background-color: darkcyan;
    border-radius: 5%;
    position: absolute;
    bottom: 35%;
    right: 2%;
    transform: translateY(-50%);
    font-family: "El Messiri";
    color: black;
}

.deckOpponentTitle{
    width: 10vw;
    position: absolute;
    top: 7%;
    right: -4.5%;
    transform: translateX(-50%);
    font-size: 1.5vw;
}

.rulesButton{
    width: 10vw;
    height: 4vw;
    background: darkcyan;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    font-size: 2vw;
    font-family: "El Messiri";
    font-weight: 700;
    cursor: pointer;
}

.rulesButton:hover{
    opacity: 0.8;
}

.rules{
    width: 90%;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 200;
    border: solid 0.3vw darkred;
    background: grey;
}

.block1{
    background: url(../../Images/CardBack.webp) no-repeat center;
    background-color: darkcyan;
    background-size: contain;
    width: 8vw;
    height: 13vw;
    border-radius: 5%;
    position: absolute;
    top: 1%;
    left: 1%;
}

.block2{
    background: url(../../Images/King.webp) no-repeat center;
    background-color: darkcyan;
    background-size: contain;
    width: 8vw;
    height: 13vw;
    border-radius: 5%;
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
}

.block3{
    background: url(../../Images/Castle.webp) no-repeat center;
    background-color: darkcyan;
    background-size: contain;
    width: 8vw;
    height: 13vw;
    border-radius: 5%;
    position: absolute;
    bottom: 1%;
    left: 1%;
}

.block4{
    background: url(../../Images/Bastard.webp) no-repeat center;
    background-color: wheat;
    background-size: contain;
    width: 8vw;
    height: 13vw;
    border-radius: 5%;
    position: absolute;
    top: 1%;
    left: 40%;
}

.block5{
    background: url(../../Images/Assassin.webp) no-repeat center;
    background-color: wheat;
    background-size: contain;
    width: 8vw;
    height: 13vw;
    border-radius: 5%;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
}

.block6{
    background: url(../../Images/Vassal.webp) no-repeat center;
    background-color: wheat;
    background-size: contain;
    width: 8vw;
    height: 13vw;
    border-radius: 5%;
    position: absolute;
    bottom: 1%;
    left: 40%;
}

span{
    width: 25vw;
    position: absolute;
    top: 5%;
    left: 110%;
    font-family: "Pangolin";
    font-size: 1.3vw;
}

.closeButton{
    width: 15vw;
    height: 3vw;
    font-size: 2vw;
    font-family: "El Messiri";
    font-weight: 700;
    position: absolute;
    bottom: 5%;
    right: 5%;
    background: red;
    cursor: pointer;
}

.closeButton:hover{
    opacity: 0.8;
}

/* -----Rules----- */

.rulesPage{
    width: 100%;
    height: 100%;
}

.rulesPage p{
    color: black;
    text-align: center;
    margin: 3%;
    font-family: "Pangolin";
}

.messageRules{
    width: 80vw;
    height: 40vw;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background: grey;
    border: solid 0.1vw black;
    opacity: 0.8;
    font-size: 1.7vw;
    z-index: 22;
}

.message{
    width: 40vw;
    height: 30vw;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background: grey;
    border: solid 0.1vw black;
    opacity: 0.8;
    font-size: 1.7vw;
    z-index: 22;
}

.buttonRules{
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 2.5vw;
    font-family: "El Messiri";
    cursor: pointer;
    text-align: center;
}

.buttonRules:hover{
    color: goldenrod;
}

.arrow1{
    width: 8vw;
    height: 10vw;
    background: goldenrod;
    clip-path: polygon(0 50%, 50% 0, 100% 50%, 60% 30%, 60% 100%, 40% 100%, 40% 30%);
    position: absolute;
    top: 72%;
    right: 3%;
    z-index: 21;
    animation: shift 1s infinite;
}

.arrow12{
    width: 8vw;
    height: 10vw;
    background: goldenrod;
    clip-path: polygon(40% 0, 60% 0, 60% 70%, 100% 50%, 50% 100%, 0 50%, 40% 70%);
    position: absolute;
    top: 5%;
    right: 3%;
    z-index: 21;
    animation: shift 1s infinite;
}

.arrow2{
    width: 10vw;
    height: 8vw;
    background: goldenrod;
    position: absolute;
    top: 5%;
    right: 3%;
    clip-path: polygon(50% 0, 30% 40%, 100% 40%, 100% 60%, 30% 60%, 50% 100%, 0 50%);
    z-index: 21;
    animation: shiftHorizont 1s infinite;
}

.arrow3{
    width: 10vw;
    height: 8vw;
    background: goldenrod;
    position: absolute;
    bottom: 5%;
    right: 3%;
    clip-path: polygon(50% 0, 30% 40%, 100% 40%, 100% 60%, 30% 60%, 50% 100%, 0 50%);
    z-index: 21;
    animation: shiftHorizont 1s infinite;
}

.arrow4{
    width: 8vw;
    height: 10vw;
    background: goldenrod;
    position: absolute;
    bottom: 5%;
    left: 3%;
    clip-path: polygon(0 50%, 50% 0, 100% 50%, 60% 30%, 60% 100%, 40% 100%, 40% 30%);
    z-index: 21;
    animation: shift 1s infinite;
}

.arrow5{
    width: 10vw;
    height: 8vw;
    background: goldenrod;
    clip-path: polygon(50% 0, 30% 40%, 100% 40%, 100% 60%, 30% 60%, 50% 100%, 0 50%);
    position: absolute;
    top:5%;
    left: 28%;
    z-index: 21;
    animation: shiftHorizont 1s infinite;
}

.arrow6{
    width: 10vw;
    height: 8vw;
    background: goldenrod;
    clip-path: polygon(50% 0, 30% 40%, 100% 40%, 100% 60%, 30% 60%, 50% 100%, 0 50%);
    position: absolute;
    bottom: 5%;
    left: 28%;
    z-index: 21;
    animation: shiftHorizont 1s infinite;
}

.finalModal{
    width: 99%;
    height: 99%;
    position: absolute;
    top: 0%;
    left: 50%; 
    transform: translateX(-50%);
    border: solid 0.3vw goldenrod;
    background: wheat;
}

.finalModal h3{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Pangolin";
    font-size: 2vw;
    margin: 3%;
    text-align: center;
}

.finalModal p{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "El Messiri";
    font-size: 2vw;
    color: black;
    text-align: center;
    cursor: pointer;
}

.finalModal p:hover{
    color: goldenrod;
}

@keyframes  shift {
    0%, 50%, 100% {
        transform: translateY(1vw);
    }

    50% {
        transform: translateY(-1vw);
    }

    100% {
        transform: translateY(1vw);
    }
}

@keyframes  shiftHorizont {
    0%, 50%, 100% {
        transform: translateX(1vw);
    }

    50% {
        transform: translateX(-1vw);
    }

    100% {
        transform: translateX(1vw);
    }
}