.topbar{
    height: 4.5vw;
    background: yellow;
    color: black;
    font-size: 3vw;
    text-align: center;
    border: solid 0.3vw grey;
}

.historyPage{
    width: 100%;
    height: 100%;
    background: url(../../Images/DesertConfederation.jpg) no-repeat;
    background-size: cover;
    position: fixed;
}

.leftModal{
    width: 100%;
    height: 100%;
    z-index: 200;
    position: absolute;
    left: -65%;
    top: 10%;
    background: grey;
    animation: shiftLeft 3s ;
    animation-fill-mode: forwards; 
}

@keyframes  shiftLeft{
0%, 100% {
    transform: translateX(-65%);
    transform: translateX(-65%);
}
        
100% {
    transform: translateX(65%);
    transform: translateX(65%);
    }
}

.rightModal{
    width: 100%;
    height: 100%;
    z-index: 200;
    position: absolute;
    right: -65%;
    top: 10%;
    background: grey;
    animation: shiftRight 3s ;
    animation-fill-mode: forwards; 
}

@keyframes  shiftRight {
    0%, 100% {
        transform: translateX(65%);
        transform: translateX(65%);
    }
    
    100% {
        transform: translateX(-65%);
        transform: translateX(-65%);
    }
}

.buttonOpenModal1{
    width: 5vw;
    height: 2vw;
    position: absolute;
    top: 20%;
    left: 0;
    background: grey;
}

.buttonOpenModal2{
    width: 5vw;
    height: 2vw;
    position: absolute;
    top: 30%;
    right: 0;
    background: grey;
}

.buttonOpenModal3{
    width: 5vw;
    height: 2vw;
    position: absolute;
    top: 40%;
    left: 0;
    background: grey;
}

.buttonOpenModal4{
    width: 5vw;
    height: 2vw;
    position: absolute;
    top: 50%;
    right: 0;
    background: grey;
}

.buttonOpenModal5{
    width: 5vw;
    height: 2vw;
    position: absolute;
    top: 60%;
    left: 0;
    background: grey;
}

.buttonCloseModalRight{
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 0;
    left: 0;
    background: red;
}

.buttonCloseModalLeft{
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 0;
    right: 0;
    background: red;
}