.miniGamePage{
    width: 100%;
    height: 90%;
    position: fixed;
    background: wheat;
}

.diceButton{
    width: 10vw;
    height: 4vw;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translateX(-50%);
    background: grey;
    font-family: "El Messiri";
    font-size: 1vw;
    font-weight: 700;
    color: black;
    border: solid 0.3vw goldenrod;
    cursor: pointer;
}

.diceButton:hover{
    opacity: 0.9;
}

.dicePlayerField{
    width: 60%;
    height: 15%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    border: solid goldenrod 0.3vw;
    background: grey;
}

.diceOpponentField{
    width: 60%;
    height: 15%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border: solid goldenrod 0.3vw;
    background: grey;
}

.dice1{
    width: 4vw;
    height: 4vw;
    background: url(../../Images/WhiteDice1.jpg) no-repeat;
    background-size: contain;
    border-radius: 20%;
    border: solid 0.1vw black;
}

.dice2{
    width: 4vw;
    height: 4vw;
    background: url(../../Images/WhiteDice2.jpg) no-repeat;
    background-size: contain;
    border-radius: 20%;
    border: solid 0.1vw black;
}

.dice3{
    width: 4vw;
    height: 4vw;
    background: url(../../Images/WhiteDice3.jpg) no-repeat;
    background-size: contain;
    border-radius: 20%;
    border: solid 0.1vw black;
}

.dice4{
    width: 4vw;
    height: 4vw;
    background: url(../../Images/WhiteDice4.jpg) no-repeat;
    background-size: contain;
    border-radius: 20%;
    border: solid 0.1vw black;
}

.dice5{
    width: 4vw;
    height: 4vw;
    background: url(../../Images/WhiteDice5.jpg) no-repeat;
    background-size: contain;
    border-radius: 20%;
    border: solid 0.1vw black;
}

.dice6{
    width: 4vw;
    height: 4vw;
    background: url(../../Images/WhiteDice6.jpg) no-repeat;
    background-size: contain;
    border-radius: 20%;
    border: solid 0.1vw black;
}

.chipPlayerField{
    width: 15vw;
    height: 15vw;
    position: absolute;
    left: 1%;
    top: 5%;
    background: grey;
    border: solid 0.3vw goldenrod;
}

.chipPlayer{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    border: none;
    background: url(../../Images/Chip.webp) no-repeat;
    background-size: contain;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.chipPlayer:hover{
    opacity: 0.9;
    filter: drop-shadow( 0 0 5px goldenrod);
}

.chipPlayerField h1{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "El Messiri";
    font-size: 1.5vw;
    font-weight: 700
}

.chipOpponentField{
    width: 15vw;
    height: 15vw;
    position: absolute;
    right: 1%;
    bottom: 5%;
    background: grey;
    border: solid 0.3vw goldenrod;
}

.chipOpponent{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    border: none;
    background: url(../../Images/Chip.webp) no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.chipOpponentField h1{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "El Messiri";
    font-size: 1.5vw;
    font-weight: 700
}

.betPlayer{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background: url(../../Images/Chip.webp) no-repeat;
    background-size: contain;
    z-index: 200;
    position: absolute;
    top: 45%;
    left: 30%;
    animation: shiftPlayer 1s forwards;
}

@keyframes  shiftPlayer {
    0%, 100% {
        top: 5%;
        left: 5%;
    }

    100% {
        top: 45%;
        left: 30%;
    }
}

.betPlayer1{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background: url(../../Images/Chip.webp) no-repeat;
    background-size: contain;
    z-index: 199;
    position: absolute;
    top: 45%;
    left: 30%;
}

.betPlayer2{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background: url(../../Images/Chip.webp) no-repeat;
    background-size: contain;
    z-index: 198;
    position: absolute;
    top: 45%;
    left: 33%;
}

.betPlayer3{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background: url(../../Images/Chip.webp) no-repeat;
    background-size: contain;
    z-index: 197;
    position: absolute;
    top: 45%;
    left: 36%;
}

.betOpponent{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    border: none;
    background: url(../../Images/Chip.webp) no-repeat;
    background-size: contain;
    z-index: 200;
    position: absolute;
    top: 45%;
    right: 30%;
    animation: shiftOpponent 1s forwards;
}

@keyframes  shiftOpponent {
    0%, 100% {
        top: 80%;
        right: 5%;
    }

    100% {
        top: 45%;
        right: 30%;
    }
}

.betOpponent1{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background: url(../../Images/Chip.webp) no-repeat;
    background-size: contain;
    z-index: 199;
    position: absolute;
    top: 45%;
    right: 30%;
}

.betOpponent2{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background: url(../../Images/Chip.webp) no-repeat;
    background-size: contain;
    z-index: 198;
    position: absolute;
    top: 45%;
    right: 33%;
}

.betOpponent3{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background: url(../../Images/Chip.webp) no-repeat;
    background-size: contain;
    z-index: 197;
    position: absolute;
    top: 45%;
    right: 36%;
}

.pointChipPlayerField{
    width: 15vw;
    height: 15vw;
    position: absolute;
    right: 1%;
    top: 5%;
    background: grey;
    border: solid 0.3vw goldenrod;
}

.pointChipPlayerField h1{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: "El Messiri";
    font-size: 1.5vw;
    font-weight: 700
}

.pointChipOpponentField{
    width: 15vw;
    height: 15vw;
    position: absolute;
    left: 1%;
    bottom: 5%;
    background: grey;
    border: solid 0.3vw goldenrod;
}

.pointChipOpponentField h1{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: "El Messiri";
    font-size: 1.5vw;
    font-weight: 700
}
