.kingdomInmarPage{
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(../../Images/InmarForest.jpg) no-repeat;
    background-size: cover;
}

.topbar{
    height: 4.5vw;
    background: red;
    color: black;
    font-size: 3vw;
    text-align: center;
    border: solid 0.3vw grey;
}

.overflowInfoKingdomInmar{
    clip-path: polygon(0 0, 100% 0, 75% 70%, 0 70%);
    background: grey;
    width: 70vw;
    height: 40vw;
    position: absolute;
    top: 10%;
}

.infoKingdomInmar{
    clip-path: polygon(0 0, 95% 0, 72% 65%, 0 65%);
    background: wheat;
    width: 70vw;
    height: 40vw;
    position: absolute;
    top: 0%;
}


.infoKingdomInmar p{
    font-size: 2vw;
    width: 50vw;
    margin-left: 1vw;
    position: absolute;
    top: 0%;
}

.imageKingdomInmarPage{
    width: 17vw;
    height: 26vw;
    position: absolute;
    right: 0%;
    top: 10%;
    border: solid 1vw grey;
    border-bottom-left-radius: 90%;
}

.buttonKingdomInmar p{
    font-size: 3vw;
    width: 18vw;
    margin: 0;
    padding: 0;
    text-align: center;
    color: red;
    -webkit-text-stroke: 0.1vw black;
}

.blockButtonHistory{
    position: absolute;
    left: 0;
    bottom: -7px;
}

.blockButtonStructure{
    position: absolute;
    left: 50%;
    bottom: -7px;
    transform: translateX(-50%);
}

.blockButtonQuest{
    position: absolute;
    right: 0;
    bottom: -7px;
}