.navalBattlePage{
    width: 100%;
    height: 90%;
    position: fixed;
    background: url(../../Images/Storm.jpg) no-repeat;
    background-size: cover;
    font-family: "El Messiri";
    color: wheat;
    font-size: 1.5vw;
}

.blockShip{
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 5%;
    right: 5%;
}

.blockShip p{
    margin: 0;
}

.healthShip{
    appearance: none;
    -webkit-appearance: none;
    width: 10vw;
    height: 1vw;
}

.healthShip::-webkit-progress-inner-element {
    border: 0.1vw solid rgb(0, 0, 0);
}
  
.healthShip::-webkit-progress-bar {
    background-color: rgb(189, 189, 189);
    
}
  
.healthShip::-webkit-progress-value {
    background-color: darkred;
}

.blockMonster{
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 5%;
    left: 5%;
}

.blockMonster p{
    margin: 0;
}

.healthMonster{
    appearance: none;
    -webkit-appearance: none;
    width: 10vw;
    height: 1vw;
}

.healthMonster::-webkit-progress-inner-element {
    border: 0.1vw solid rgb(0, 0, 0);
}
  
.healthMonster::-webkit-progress-bar {
    background-color: rgb(189, 189, 189);
    
}
  
.healthMonster::-webkit-progress-value {
    background-color: darkgreen;
}

.leftTentacle1Up{
    width: 10vw;
    height: 16vw;
    background: url(../../Images/SmallTentacle.webp) no-repeat center;
    background-size: contain;
    border: none;
    position: absolute;
    left: 10%;
    bottom: 0%;
    cursor: pointer;
    animation: shiftUp 2s forwards;
}

.leftTentacle1Up:active{
    filter: drop-shadow( 0 0 0.5vw darkred); 
}

.leftTentacle1Down{
    width: 10vw;
    height: 16vw;
    background: url(../../Images/SmallTentacle.webp) no-repeat center;
    background-size: contain;
    border: none;
    position: absolute;
    left: 10%;
    bottom: 20%;
    cursor: pointer;
    animation: shiftDown 2s forwards;
}

.leftTentacle1Down:active{
    filter: drop-shadow( 0 0 0.5vw darkred); 
}

.leftTentacle2Up{
    width: 10vw;
    height: 21vw;
    background: url(../../Images/BigTentacle.webp) no-repeat center;
    background-size: contain;
    border: none;
    position: absolute;
    left: 25%;
    bottom: 0%;
    cursor: pointer;
    animation: shiftUp 2s forwards;
}

.leftTentacle2Up:active{
    filter: drop-shadow( 0 0 0.5vw darkred); 
}

.leftTentacle2Down{
    width: 10vw;
    height: 21vw;
    background: url(../../Images/BigTentacle.webp) no-repeat center;
    background-size: contain;
    border: none;
    position: absolute;
    left: 25%;
    bottom: 20%;
    cursor: pointer;
    animation: shiftDown 2s forwards;
}

.leftTentacle2Down:active{
    filter: drop-shadow( 0 0 0.5vw darkred); 
}

.rightTentacle1Up{
    width: 10vw;
    height: 16vw;
    background: url(../../Images/SmallTentacle.webp) no-repeat center;
    background-size: contain;
    border: none;
    transform: scaleX(-1);
    position: absolute;
    right: 10%;
    bottom: 20%;
    cursor: pointer;
    animation: shiftUp 2s forwards;
}

.rightTentacle1Up:active{
    filter: drop-shadow( 0 0 0.5vw darkred); 
}

.rightTentacle1Down{
    width: 10vw;
    height: 16vw;
    background: url(../../Images/SmallTentacle.webp) no-repeat center;
    background-size: contain;
    border: none;
    transform: scaleX(-1);
    position: absolute;
    right: 10%;
    bottom: 20%;
    cursor: pointer;
    animation: shiftDown 2s forwards;
}

.rightTentacle1Down:active{
    filter: drop-shadow( 0 0 0.5vw darkred); 
}

.rightTentacle2Up{
    width: 10vw;
    height: 21vw;
    background: url(../../Images/BigTentacle.webp) no-repeat center;
    background-size: contain;
    border: none;
    transform: scaleX(-1);
    position: absolute;
    right: 25%;
    bottom: 20%;
    cursor: pointer;
    animation: shiftUp 2s forwards;
}

.rightTentacle2Up:active{
    filter: drop-shadow( 0 0 0.5vw darkred); 
}

.rightTentacle2Down{
    width: 10vw;
    height: 21vw;
    background: url(../../Images/BigTentacle.webp) no-repeat center;
    background-size: contain;
    transform: scaleX(-1);
    border: none;
    position: absolute;
    right: 25%;
    bottom: 20%;
    cursor: pointer;
    animation: shiftDown 2s forwards;
}

.rightTentacle1Down:active{
    filter: drop-shadow( 0 0 0.5vw darkred); 
}

.headMonsterUp{
    width: 25vw;
    height: 25vw;
    background: url(../../Images/Monster.webp) no-repeat center;
    background-size: contain;
    border: none;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    animation: shiftUp 2s forwards;
}

.headMonsterUp:active{
    filter: drop-shadow( 0 0 0.5vw darkred);
}

.headMonsterDown{
    width: 25vw;
    height: 25vw;
    background: url(../../Images/Monster.webp) no-repeat center;
    background-size: contain;
    border: none;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    animation: shiftDown 2s forwards;
}

.headMonsterUp:active{
    filter: drop-shadow( 0 0 0.5vw darkred);
}


@keyframes  shiftUp {
    0%, 100% {
        bottom: -30%;
    }

    100% {
        bottom: 30%;
    }
}

@keyframes  shiftDown {
    0%, 100% {
        bottom: 30%;
    }

    100% {
        bottom: -30%;
    }
}

.sideOfTheShip{
    width: 100%;
    height: 30%;
    background: url(../../Images/BortOfShip.jpg) no-repeat ;
    background-size: cover;
    position: absolute;
    bottom: 0;
    z-index: 20;
}

.blockRepair{
    width: 10vw;
    height: 10vw;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.blockRepair p{
    position: absolute;
    top: -30%;
    left: 25%;
}

.buttonRepair{
    width: 8.5vw;
    height: 8.5vw;
    position: absolute;
    bottom: 1%;
    left: 15%;
    background: url(../../Images/BarrelWithTools.webp) no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.buttonRepair:hover{
    filter: drop-shadow( 0 0 0.5vw darkred);
}

.finalModal{
    width: 99.5%;
    height: 99%;
    position: absolute;
    top: 0%;
    left: 50%; 
    transform: translateX(-50%);
    border: solid 0.3vw darkred;
    background: wheat;
    z-index: 30;
}

.finalModal h3{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Pangolin";
    font-size: 2vw;
    margin: 3%;
    text-align: center;
    color: black;
}

.finalModal p{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "El Messiri";
    font-size: 2vw;
    color: black;
    text-align: center;
    cursor: pointer;
}

.finalModal p:hover{
    color: darkred;
}

/* -----Rules----- */

.rulesPage{
    width: 100%;
    height: 100%;
}

.rulesPage p{
    color: black;
    text-align: center;
}

.message{
    width: 40vw;
    height: 30vw;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background: grey;
    border: solid 0.1vw black;
    opacity: 0.8;
    z-index: 22;
}

.buttonRules{
    width: 100%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5vw;
    cursor: pointer;
}

.buttonRules:hover{
    filter: drop-shadow( 0 0 0.3vw darkred) ;
}

.arrow1{
    width: 8vw;
    height: 10vw;
    background: darkred;
    clip-path: polygon(0 50%, 50% 0, 100% 50%, 60% 30%, 60% 100%, 40% 100%, 40% 30%);
    position: absolute;
    top: 20%;
    right: 6%;
    z-index: 21;
    animation: shift 1s infinite;
}

.arrow2{
    width: 8vw;
    height: 10vw;
    background: darkred;
    clip-path: polygon(0 50%, 50% 0, 100% 50%, 60% 30%, 60% 100%, 40% 100%, 40% 30%);
    position: absolute;
    top: 30%;
    left: 6%;
    clip-path: polygon(0 50%, 50% 0, 100% 50%, 60% 30%, 60% 100%, 40% 100%, 40% 30%);
    z-index: 21;
    animation: shift 1s infinite;
}

.arrow3{
    width: 8vw;
    height: 10vw;
    background: darkred;
    clip-path: polygon(0 50%, 50% 0, 100% 50%, 60% 30%, 60% 100%, 40% 100%, 40% 30%);
    position: absolute;
    top: 45%;
    right: 6%;
    clip-path: polygon(40% 70%, 40% 0, 60% 0, 60% 70%, 100% 50%, 50% 100%, 0 50%);
    z-index: 21;
    animation: shift 1s infinite;
}

@keyframes  shift {
    0%, 50%, 100% {
        transform: translateY(1vw);
    }

    50% {
        transform: translateY(-1vw);
    }

    100% {
        transform: translateY(1vw);
    }
}
