.topbar{
    height: 4.5vw;
    background: darkred;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border: solid 0.3vw grey;
}

.structureKindomInmarPage{
    width: 100%;
    height: 100%;
    background: rgb(25, 25, 25);
    position: fixed;
}

.structureKindomInmarPage p{
    font-family: "El Messiri";
    font-weight: 700;
}

.buttonModalNorth{
    font-size: 3vw;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-text-stroke: 0.1vw blue;
    cursor: pointer;
}

.buttonModalNorth:hover{
    filter: drop-shadow( 0 0 0.5vw blue);
}

.buttonModalNorthwest{
    font-size: 3vw;
    position: absolute;
    top: 15%;
    left: 5%;
    -webkit-text-stroke: 0.1vw blueviolet;
    cursor: pointer;
}

.buttonModalNorthwest:hover{
    filter: drop-shadow( 0 0 0.5vw blueviolet);
}

.buttonModalNortheast{
    font-size: 3vw;
    position: absolute;
    top: 15%;
    right: 5%;
    -webkit-text-stroke: 0.1vw yellow;
    cursor: pointer;
}

.buttonModalNortheast:hover{
    filter: drop-shadow( 0 0 0.5vw yellow);
}

.buttonModalCenter{
    font-size: 3vw;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-text-stroke: 0.1vw green;
    cursor: pointer;
}

.buttonModalCenter:hover{
    filter: drop-shadow( 0 0 0.5vw green);
}

.buttonModalSouthwest{
    font-size: 3vw;
    position: absolute;
    top: 35%;
    left: 5%;
    -webkit-text-stroke: 0.1vw orange;
    cursor: pointer;
}

.buttonModalSouthwest:hover{
    filter: drop-shadow( 0 0 0.5vw orange);
}

.buttonModalSoutheast{
    font-size: 3vw;
    position: absolute;
    top: 35%;
    right: 5%;
    -webkit-text-stroke: 0.1vw red;
    cursor: pointer;
}

.buttonModalSoutheast:hover{
    filter: drop-shadow( 0 0 0.5vw red);
}

.buttonModalRighteous{
    width: 20vw;
    height: 10vw;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../../Images/Rigtheous.webp) no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.buttonModalRighteous:hover{
    filter: drop-shadow( 0 0 0.5vw rgb(221, 221, 128));
}

.buttonModalRighteous p{
    position: absolute;
    left: 80%;
    bottom: 20%;
    font-size: 3vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 0.1vw rgb(221, 221, 128);
}

.buttonModalCouncil{
    width: 20vw;
    height: 10vw;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url(../../Images/Council.webp) no-repeat bottom;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.buttonModalCouncil:hover{
    filter: drop-shadow( 0 0 0.5vw chartreuse );
}

.buttonModalCouncil p{
    position: absolute;
    left: 50%;
    bottom: 40%;
    transform: translateX(-50%);
    font-size: 3vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 0.1vw chartreuse;
}

.buttonModalOrder{
    width: 20vw;
    height: 10vw;
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../../Images/Order.webp) no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.buttonModalOrder:hover{
    filter: drop-shadow( 0 0 0.5vw darkblue);
}

.buttonModalOrder p{
    width: 20vw;
    position: absolute;
    right: 80%;
    bottom: 20%;
    font-size: 3vw;
    font-family: "El Messiri";
    font-weight: 700;
    -webkit-text-stroke: 0.1vw darkblue;
}

.modalStructure{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(25, 25, 25);
}

.modalStructure img{
    width: 37vw;
    height: 23vw;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom-right-radius: 100%;
}

.modalStructure h4{
    font-size: 3vw;
    font-family: "El Messiri";
    font-weight: 700;
    position: absolute;
    top: 2%;
    right: 25%;
    margin: 0;
}

.modalStructure p{
    width: 50%;
    height: 100%;
    font-size: 2vw;
    font-family: "Pangolin";
    padding-left: 5%;
    position: absolute;
    top: 15%;
    right: 2%;
}

.modalClassStructureInmar{
    width: 96%;
    height: 89%;
    position: absolute;
    top: 10%;
    left: 2%;
    background: rgb(25, 25, 25);
    animation: shift 1.5s ;
    animation-fill-mode: forwards; 
}

.modalClassStructureInmar h4{
    position: absolute;
    right: 25%;
    top: 2%;
    margin: 0;
    font-size: 3vw;
}

.modalClassStructureInmar p{
    width: 45%;
    height: 100%;
    position: absolute;
    right: 5%;
    top: 10%;
    font-size: 2vw;
}

.modalClassStructureInmar img{
    width: 40vw;
    height: 40vw;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom-right-radius: 100%;
}

    @keyframes  shift {
        0%, 100% {
            transform: translateY(100%);
            transform: translateY(100%);
        }
        
        100% {
            transform: translateY(0%);
            transform: translateY(0%);
        }
    }


.buttonCloseModal{
    width: 15vw;
    height: 3vw;
    font-size: 2vw;
    font-family: "El Messiri";
    font-weight: 700;
    position: absolute;
    bottom: 5%;
    right: 5%;
    background: red;
}

.buttonCloseModal:hover{
    opacity: 0.7;
}